        body{display: flex;
            flex-direction: column;
       align-items: center;
    overflow: auto;
  font-family: 'Roboto', sans-serif;;}
    header{display:flex;
        background-color: rgb(223, 196, 17);
        width: 100%;
           height: 80px;
            position: sticky;
        top:0;
        bottom: 0;
        flex-wrap: nowrap;
        justify-content: space-between;
        z-index: 3;
    }
    .Logo{display: flex;
    flex-direction:row;
flex-wrap: nowrap;
width: 100%;
height: 100%;}
    .fow{display:flex;
        width: 60px;
        height: 60px;
        align-self: center;
        margin-left: 25px;
   }
h1{align-self: center;
font-size: 20px;
margin-top: 5px;
font-weight: bold;
z-index: 1;}
b{color: red;}
.UK{display:flex;
color: red;
font-size: 7px;
margin-top: 50px;
margin-left: -32px;}

.item{margin-right: 10px;}
.Item{display:flex;
      align-self: center;
      margin-right: 5%;
}

.container{display: flex;
flex-direction: row;
}
    .container1{display: flex;
           width: 20%;
           height:140vh;
           background-color: rgb(197, 141, 202);
           justify-content: center;
           font-size: 20px;
             }
    .center{display: flex;
            width: 100%;
            height: 140vh;
             justify-content: space-evenly;
             flex-wrap: wrap;
             align-items: center;
             overflow: auto;
        }
        .container2{display: flex;
           width: 20%;
           height: 140vh;
           background-color: rgb(148, 184, 219);
           justify-content: center;
           font-size: 20px;
           z-index: 1;
        }
        .TX{text-align: center; font-size: 120%;
             }

    .crown{display: flex;
           width: 330px;
           height:410px;
           border: 1px solid black;
           border-radius: 25px 25px 25px 25px;
           flex-wrap: wrap;
           flex-direction: column;
           align-items:center;
           text-align: center;
           font-size: 15px;
           overflow: auto;
           margin-bottom: 20px;
           justify-content: space-around;
                                }
.berg{display:flex;
width: 100px;
height: 100px;
justify-content: center;
margin-top:10px;
margin-left:0px}

      button{ display: flex;
        color: aliceblue;
       background-color:  rgb(97, 74, 118);
width:50px;
height:25px ;
border-radius: 20px 20px 20px 20px;
cursor: pointer;
font-size: 15px;
align-items: bottom 20px;
justify-content: center;
 }
 footer{display:flex; justify-content: center; align-items: center;
        background-color: rgb(87, 235, 129);
        width: 100%;
        height: 30px;
        position: sticky;
        top:0;
        bottom: 0;
      }
      h3{margin-top:-25px;
    font-weight: bold;} 
      .menu__box{display:none;}
  #menu__toggle {
  opacity: 0; display: none;
}
.menu__btn {
  display: flex; 
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 3;
  margin:0.4% 0% 0% 95%;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 14.2%;
  height: 140vh;
  margin: 0;
  margin-top: 20px;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color:rgb(148, 184, 219);;
  overflow: hidden;
  z-index: 2;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #75bddc;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .3s;
}

.menu__box {
  transition-duration: .3s;
}
.menu__item {
  transition-duration: .3s;
}

 @media (max-width:1200px){.container1{display: none;}
    .center{display: flex;
            width: 90%;
            height: 140vh;
             justify-content: space-evenly;
             flex-wrap: wrap;
             align-items: center;
             }
             .container2{display: flex;
           width: 20%;
           height: 140vh;
           background-color: rgb(148, 184, 219);
           justify-content: center;
           font-size: 20px;
           overflow: hidden; }
    }
      @media(max-width:900px){.container2{display: none;}.container{display: flex;
flex-direction: row;
      }
      .menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  width: 14.2%;
  height: 140vh;
  margin: 0;
  margin-top: 20px;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color:rgb(148, 184, 219);;
  overflow: hidden;}}
  .center{display: flex;
            width: 100%;
            height: 140vh;
             justify-content: space-evenly;
             flex-wrap: wrap;
             align-items: center;
             }       